@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "All Roles";
}
@{
    if(Model.Any())
    {
        <h1> Roles </h1>
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                
                
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
            </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <h3>No Roles Found.</h3>
    }
}