@model TicketApplication.Models.TicketResponse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketResponse</h4>
<hr />
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Ticket
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@ViewBag.ticket[0].Title</li>
    <li class="list-group-item">@ViewBag.ticket[0].Description</li>
    <li class="list-group-item">@ViewBag.ticket[0].CreatedDate</li>
  </ul>
</div>
<div class="row border-top">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                
                <input asp-for="TicketId" class ="form-control" type="hidden" value="@ViewBag.Ticket[0].TicketId"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
